<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b7fdc8">  <td>21/05/27 13:28:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestWithTestData.checkLoginInvalidUser(java.lang.String, java.lang.String)[pri:0, instance:Test.LoginTestWithTestData@71e693fa]">checkLoginInvalidUser</td> 
  <td>main@1759482496</td>   <td></td> </tr>
<tr bgcolor="b7fdc8">  <td>21/05/27 13:28:20</td>   <td>893</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestWithTestData.checkLoginInvalidUser(java.lang.String, java.lang.String)[pri:0, instance:Test.LoginTestWithTestData@71e693fa]">checkLoginInvalidUser</td> 
  <td>main@1759482496</td>   <td></td> </tr>
<tr bgcolor="b7fdc8">  <td>21/05/27 13:28:20</td>   <td>1622</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestWithTestData.checkLoginInvalidUser(java.lang.String, java.lang.String)[pri:0, instance:Test.LoginTestWithTestData@71e693fa]">checkLoginInvalidUser</td> 
  <td>main@1759482496</td>   <td></td> </tr>
<tr bgcolor="b7fdc8">  <td>21/05/27 13:28:21</td>   <td>2375</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestWithTestData.checkLoginValidUser()[pri:0, instance:Test.LoginTestWithTestData@71e693fa]">checkLoginValidUser</td> 
  <td>main@1759482496</td>   <td></td> </tr>
<tr bgcolor="b7fdc8">  <td>21/05/27 13:28:25</td>   <td>6303</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTestWithTestData.close()[pri:0, instance:Test.LoginTestWithTestData@71e693fa]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1759482496</td>   <td></td> </tr>
<tr bgcolor="b7fdc8">  <td>21/05/27 13:28:19</td>   <td>886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTestWithTestData.failedTestCases(org.testng.ITestResult)[pri:0, instance:Test.LoginTestWithTestData@71e693fa]">&lt;&lt;failedTestCases</td> 
<td>&nbsp;</td>  <td>main@1759482496</td>   <td></td> </tr>
<tr bgcolor="b7fdc8">  <td>21/05/27 13:28:20</td>   <td>1620</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTestWithTestData.failedTestCases(org.testng.ITestResult)[pri:0, instance:Test.LoginTestWithTestData@71e693fa]">&lt;&lt;failedTestCases</td> 
<td>&nbsp;</td>  <td>main@1759482496</td>   <td></td> </tr>
<tr bgcolor="b7fdc8">  <td>21/05/27 13:28:21</td>   <td>2372</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTestWithTestData.failedTestCases(org.testng.ITestResult)[pri:0, instance:Test.LoginTestWithTestData@71e693fa]">&lt;&lt;failedTestCases</td> 
<td>&nbsp;</td>  <td>main@1759482496</td>   <td></td> </tr>
<tr bgcolor="b7fdc8">  <td>21/05/27 13:28:25</td>   <td>6301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTestWithTestData.failedTestCases(org.testng.ITestResult)[pri:0, instance:Test.LoginTestWithTestData@71e693fa]">&lt;&lt;failedTestCases</td> 
<td>&nbsp;</td>  <td>main@1759482496</td>   <td></td> </tr>
<tr bgcolor="b7fdc8">  <td>21/05/27 13:28:11</td>   <td>-7140</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTestWithTestData.setup()[pri:0, instance:Test.LoginTestWithTestData@71e693fa]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1759482496</td>   <td></td> </tr>
</table>
