<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Sanity</td><td>LoginTest.checkLoginValidUser()[pri:0, instance:Test.LoginTest@8e50104]<br/>LoginTest.checkLoginInvalidUser()[pri:0, instance:Test.LoginTest@8e50104]<br/></td></tr>
</table>
