<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a4d57e">  <td>21/05/27 15:49:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestInParallel.checkLoginInvalidUser(java.lang.String, java.lang.String)[pri:2, instance:Test.LoginTestInParallel@3eb77ea8]">checkLoginInvalidUser</td> 
  <td>main@1741786839</td>   <td></td> </tr>
<tr bgcolor="67b99e">  <td>21/05/27 15:49:38</td>   <td>13495</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.checkLoginInvalidUser()[pri:0, instance:Test.LoginTest@8e50104]">checkLoginInvalidUser</td> 
  <td>main@1741786839</td>   <td></td> </tr>
<tr bgcolor="a4d57e">  <td>21/05/27 15:49:15</td>   <td>-10000</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestInParallel.checkLoginValidUser(java.lang.String, java.lang.String)[pri:1, instance:Test.LoginTestInParallel@3eb77ea8]">checkLoginValidUser</td> 
  <td>main@1741786839</td>   <td></td> </tr>
<tr bgcolor="67b99e">  <td>21/05/27 15:49:40</td>   <td>14523</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.checkLoginValidUser()[pri:0, instance:Test.LoginTest@8e50104]">checkLoginValidUser</td> 
  <td>main@1741786839</td>   <td></td> </tr>
<tr bgcolor="67b99e">  <td>21/05/27 15:49:43</td>   <td>18168</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.checkLoginValidUser()[pri:0, instance:Test.LoginTest@8e50104]">checkLoginValidUser</td> 
  <td>main@1741786839</td>   <td></td> </tr>
<tr bgcolor="67b99e">  <td>21/05/27 15:49:53</td>   <td>28240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.checkLoginValidUser()[pri:0, instance:Test.LoginTest@8e50104]">checkLoginValidUser</td> 
  <td>main@1741786839</td>   <td></td> </tr>
<tr bgcolor="67b99e">  <td>21/05/27 15:49:55</td>   <td>30152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.checkLoginValidUser()[pri:0, instance:Test.LoginTest@8e50104]">checkLoginValidUser</td> 
  <td>main@1741786839</td>   <td></td> </tr>
<tr bgcolor="67b99e">  <td>21/05/27 15:49:55</td>   <td>30223</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.close()[pri:0, instance:Test.LoginTest@8e50104]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1741786839</td>   <td></td> </tr>
<tr bgcolor="a4d57e">  <td>21/05/27 15:49:25</td>   <td>-10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTestInParallel.failedTestCases(org.testng.ITestResult)[pri:0, instance:Test.LoginTestInParallel@3eb77ea8]">&lt;&lt;failedTestCases</td> 
<td>&nbsp;</td>  <td>main@1741786839</td>   <td></td> </tr>
<tr bgcolor="a4d57e">  <td>21/05/27 15:49:33</td>   <td>8306</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTestInParallel.failedTestCases(org.testng.ITestResult)[pri:0, instance:Test.LoginTestInParallel@3eb77ea8]">&lt;&lt;failedTestCases</td> 
<td>&nbsp;</td>  <td>main@1741786839</td>   <td></td> </tr>
<tr bgcolor="67b99e">  <td>21/05/27 15:49:40</td>   <td>14521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.failedTestCases(org.testng.ITestResult)[pri:0, instance:Test.LoginTest@8e50104]">&lt;&lt;failedTestCases</td> 
<td>&nbsp;</td>  <td>main@1741786839</td>   <td></td> </tr>
<tr bgcolor="67b99e">  <td>21/05/27 15:49:43</td>   <td>18165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.failedTestCases(org.testng.ITestResult)[pri:0, instance:Test.LoginTest@8e50104]">&lt;&lt;failedTestCases</td> 
<td>&nbsp;</td>  <td>main@1741786839</td>   <td></td> </tr>
<tr bgcolor="67b99e">  <td>21/05/27 15:49:53</td>   <td>28230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.failedTestCases(org.testng.ITestResult)[pri:0, instance:Test.LoginTest@8e50104]">&lt;&lt;failedTestCases</td> 
<td>&nbsp;</td>  <td>main@1741786839</td>   <td></td> </tr>
<tr bgcolor="67b99e">  <td>21/05/27 15:49:55</td>   <td>30148</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.failedTestCases(org.testng.ITestResult)[pri:0, instance:Test.LoginTest@8e50104]">&lt;&lt;failedTestCases</td> 
<td>&nbsp;</td>  <td>main@1741786839</td>   <td></td> </tr>
<tr bgcolor="67b99e">  <td>21/05/27 15:49:55</td>   <td>30176</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.failedTestCases(org.testng.ITestResult)[pri:0, instance:Test.LoginTest@8e50104]">&lt;&lt;failedTestCases</td> 
<td>&nbsp;</td>  <td>main@1741786839</td>   <td></td> </tr>
<tr bgcolor="67b99e">  <td>21/05/27 15:49:33</td>   <td>8325</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setup()[pri:0, instance:Test.LoginTest@8e50104]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1741786839</td>   <td></td> </tr>
</table>
